# Git関連
.git
.gitignore

# Dockerファイル
Dockerfile
docker-compose.yml
compose.yml
.dockerignore

# ビルド生成物とキャッシュ
/randomuser-server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# エディタ設定ファイル
.idea/
.vscode/
*.swp
*.swo

# ローカル開発環境用ファイル
/tmp
*.log 
